<h1> Showing selected article</h1>
<%= link_to 'Logout', logout_path , data: { "turbo-method": :delete} %>
<p> Title: <%= @article.title %> </p>
<p> Description: <%= @article.description %> </p>
<p> by <%= @article.user.username if @article.user %> </p>
 <% if logged_in? && ( @article.user == current_user || current_user.admin?) %>
<p>  <%= link_to "Edit", edit_article_path(@article) %> </p>
<% end %>
<%= link_to "Back to articles listing",articles_path %>